<<<<<<< HEAD
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header h2 {
  color: #ffffff;
}

nav {
  background-color: #099d8d;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#nabvar{
  position: fixed;
  display: contents;
}

#navbar ul {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  padding: 20px;
  justify-content: center;
}

#navbar ul li a {
  color: #ffffff;
  text-decoration: none;
  padding: 25px;
}

#sectionHeader{
  background-image: url(../image/phone.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
}


#section1Main{
  margin-top: 200px;
=======
body{
    width: 100%;
    margin: auto;

}
header{
    text-align: center;
}
#header .nav{
    text-align: inherit;
    
}

header #sectionHeader{
    text-align: inherit;
   
}


#section1Main h2{
    
    text-align: center;
    color: rgb(26, 160, 160);

}
#section1Main #parrafo1Section1Main{
    text-align: center;
    block-size: auto;
    color: black;
}

#section1Main #parrafo2Section1Main{
    text-align: center;
    color: black;
}
form{
    
    padding: 20px;
    box-shadow: 0 0 6px rgb(255, 255, 255, 0.8);
    border-radius: 10px;
    display: block;
    
}


#form .div-formulario{
    position: relative;
    margin: 45px;
    text-align: center;
    background: none;
    color: #54585A 100%;
    font-family: Open Sans;
    font-size: 16px;
    padding: 5px;
    border: none;
    border-bottom: 1px;
    
    

}
label{
    color: lightslategray;
    top: 10px;
    transition: 0.5s ease-in all;
    pointer-events: none;
}

button{
    font-family: Open Sans;
    background-color: rgb(26, 160, 160);
    color: white;
    font-size: 16px;
    border: none;
    display: inline-block;
    
   

>>>>>>> 4d1b69cb01eded88b54551d85d323fbafad13373
}