body{
}
#section2Main .div1Section2Main{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    margin-bottom: 60px;
    
}
#section2Main .div2Section2Main{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    margin-bottom: 60px; 
}

#section2Main h2{
    display: flex;
    justify-content: center;
    margin: 45px 0px;
    color: #099D8D;
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
}
#section2Main .div1Section2Main h4{
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    font-size: 20px;
    margin: 30px 0px 0px 30px;
}
#section2Main .div2Section2Main h4{
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    font-size: 20px;
    text-align: right;
    margin: 30px 30px 15px 0px;
   
}
#section2Main .div1Section2Main p{
    font-family: 'Open Sans', sans-serif;
    color: #54585A;
    font-size: 16px;
    width: 439px;
    margin: 0px 0px 15px 30px;
}
#section2Main .div2Section2Main p{
    font-family: 'Open Sans', sans-serif;
    color: #54585A;
    font-size: 16px;
    width: 439px;
    text-align: right;
    margin: 0px 30px 15px 0px;
}
#section2Main img{
    width: 205px;
    height: 205px; 
    border-radius: 10px;
    border: 3px solid rgb(236, 236, 236);
}

#section2Main .div1Section2Main .divA{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}
#section2Main .div2Section2Main .divA1{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 20px;
    
}
#section2Main .div1Section2Main a{
    color: rgb(1, 146, 156);
    margin: 10px;
    font-size: 20px;
}
#section2Main .div2Section2Main a{
    color: rgb(1, 146, 156);
    margin: 10px;
    font-size: 20px;
 
}

