.info_teams{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.dual{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    background-color: gainsboro;
    border-color: white;
    height: 35vh;
}

.info_seg2{
    width: 50%;
    height: 200px;
    text-align: center;
   
}

.triangle {
    position: relative;
    background: white;
    height: 20vh;
  }
  
  .triangle::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 52px  52px 0 52px;
    
    border-color:  white transparent transparent transparent;
    
    left: 50%;
    transform: translateX(-50%) translateY(100%);
    
  }
  .text {
      font-size: 16px;
      color: #54585A ;
      font-family:    'Open Sans', sans-serif;
      text-align: center;
      /* padding-left: 3em;
      padding-right: 3em; */
      

  }
  .txt_title{
      font-size: 24px;
      color: #099D8D;
      font-family: 'Rubik', sans-serif;
      
  }
  

